<h1 class="text-center titleText">About Patient Passport</h1>

<div class="well">
  <p class="directionText">Patient Passport was created by Michael Hurley as a project for General Assembly's Web Development Immersive in Seattle. It is a full MEAN stack web application that was designed to help guide patients through a fictional hospital. The idea for the app was born out of frustration with confusing, misleading or missing directional signage at some health care facilities. The intended goal of the app was to bridge the information gap between a patient getting to the hospital campus, and arriving at her appointment. I believe that an app such as this would significantly reduce healthcare costs incurred by patients failing to arrive for appointments on time or at all.</p>

  <p class="directionText">Questions, comments, suggestions? Please email me at: <a href="mailto:michaelscotthurley@gmail.com">michaelscotthurley@gmail.com</a></p>

  <p class="directionText">Also, please remember that this is a theoretical hospital. If you are in need of medical treatment, please call 911 or visit your nearest healthcare facility.</p>
</div>