<div>

<h1 class="text-center">Welcome to {{locations.service}}</h1>
<h2 class="text-center">{{locations.location}}</h2>

<p class="lead">Please use the directions below to guide you to your appointment:</p>

  <div class="well">
    <p class="lead">{{locations.direction_text1}}</p>
    <img src="{{locations.direction_image1}}">
  </div>
  <div class="well">
    <p class="lead">{{locations.direction_text2}}</p>
    <img src="{{locations.direction_image2}}">
  </div>
  <div class="well">
    <p class="lead">{{locations.direction_text3}}</p>
    <img src="{{locations.direction_image3}}">
  </div>
  <div class="well">
    <p class="lead">{{locations.direction_text4}}</p>
    <img src="{{locations.direction_image4}}">
  </div>
</div>



