<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <a class="navbar-brand" href="/">Patient Passport</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      
    </ul>
    <div ng-controller="SearchCtrl" class="col-sm4 col-md-4 pull-right searchForm">
      <form class="navbar-form" role="search">
        <div class="input-group">
          <input type="text" ng-model="searchTerm" placeholder="ex: Physical Therapy" id="search" class="form-control">
        <div class="input-group-btn">
          <button type="submit" ng-click="search()" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
        </div>
      </div>
    </form>
    </div>
  </div><!-- /.navbar-collapse -->
</nav>