.navbar {
  background-color: #007acc;
  border-radius:5px;
  height:75px;
}

.navbar .navbar-header a {
  color: white;
  font-family: 'Kanit', sans-serif;
  font-size: 2.25em;
  padding-top: .7em;
}

.navbar .navbar-header a:hover {
  color: #bfbfbf;
}

.navbar .navbar-nav li a {
  color: white;
  font-size: 1.3em;
  padding-top: 1.5em;
  margin-left: 5em;
}

.navbar .searchForm {
  padding-top: .7em;
}

#titleText {
  font-family: 'Cinzel', serif;
  font-size: 2.5em;
}

#headerImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 225px;
}

#emergency {
  max-width: 100%;
  box-shadow:inset 1px 1px 50px 0 #f5f5ef;
  border-bottom:2px solid #fff;
  border-right:2px solid #fff;
  margin:5% auto 0 auto;
  background:url("../img/emergency.jpg");
  background-size:cover;
  border-radius:2px;
  overflow:hidden;
}

#rehab {
  max-width: 100%;
  box-shadow:inset 1px 1px 50px 0 #f5f5ef;
  border-bottom:2px solid #fff;
  border-right:2px solid #fff;
  margin:5% auto 0 auto;
  background:url("../img/rehab.jpg");
  background-size:cover;
  border-radius:2px;
  overflow:hidden;
}

#mental {
  max-width: 100%;
  box-shadow:inset 1px 1px 50px 0 #f5f5ef;
  border-bottom:2px solid #fff;
  border-right:2px solid #fff;
  margin:5% auto 0 auto;
  background:url("../img/mental.jpg");
  background-size:cover;
  border-radius:2px;
  overflow:hidden;
}

#cancer {
  max-width: 100%;
  box-shadow:inset 1px 1px 50px 0 #f5f5ef;
  border-bottom:2px solid #fff;
  border-right:2px solid #fff;
  margin:5% auto 0 auto;
  background:url("../img/cancer.jpg");
  background-size:cover;
  border-radius:2px;
  overflow:hidden;
}

#diagnostic {
  max-width: 100%;
  box-shadow:inset 1px 1px 50px 0 #f5f5ef;
  border-bottom:2px solid #fff;
  border-right:2px solid #fff;
  margin:5% auto 0 auto;
  background:url("../img/diagnostic.jpg");
  background-size:cover;
  border-radius:2px;
  overflow:hidden;
}

#misc {
  max-width: 100%;
  box-shadow:inset 1px 1px 50px 0 #f5f5ef;
  border-bottom:2px solid #fff;
  border-right:2px solid #fff;
  margin:5% auto 0 auto;
  background:url("../img/hospital.jpg");
  background-size:cover;
  border-radius:2px;
  overflow:hidden;
}

.overlayDept {
  background:#f5f5ef;
  text-align:center;
  padding:90px 0 250px 0;
  opacity:0;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
}

.overlayDept:hover {
  opacity:0.9;
}

.footer {
  background-color: #007acc;
  border-radius:5px;
  height:50px;
  margin-top: 2em;
  margin-bottom: 1em;
  padding-right: 2em;
  padding-top: .8em;
  text-align: right
}

.footer a {
  color: white;
  font-family: 'Catamaran', sans-serif;
  font-size: 1.2em;
  text-decoration: none;
}

.footer a:hover {
  color: #bfbfbf;
}

.footer p {
  color: white;
  font-family: 'Petit Formal Script', cursive;
  font-size: .9em;
  text-decoration: none;
}

.directionImage {
  width: 100%;
}
